<!-- About VegMe -->
<!-- Bios and portfolio links -->
<!-- Link to github -->
<!-- atrributions to Josh and Edamam -->
<!-- Editor's choice recipes -->

<div class="row">
  <div class="small-10 small-offset-1 column">
    <p class="eighteen justify-text wide-lines about-vegme">
      This is where the text about our super awesome website will go. People
      will read this and never want to use another recipe search engine ever again!
    </p>
  </div>
</div>
<div class="row">
  <div class="small-10 small-offset-1 column text-center">
    <h2 class="about-title">The Creators</h2>
    <div class="row align-spaced">

      <div class="small-4 column">
        <div id="profile-wrap">
          <div class="pulse1"></div>
          <div class="pulse2"></div>
          <div class="profile-overlay"></div>
          <div class="profile-image"></div>
          <div class="profile-name">
            <span>Hidden text</span>
          </div>
        </div>
      </div>

      <div class="small-4 column">
        <div class="card">
          <%= image_tag('veggies.jpg') %>
          <div class="card-section">
            <p>
              Look at these sexy vegetables!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
