<div class="bigger-margin">
  <div class="row">
    <div class="small-10 small-offset-1 column text-center">
      <h2 class="about-title">Meet the Chefs</h2>
      <div class="row align-spaced">

        <div class="small-5 column">
          <div class="profile-wrap">
            <div class="pulse1"></div>
            <div class="pulse2"></div>
            <div class="profile-overlay"></div>
            <div>
              <div class="profile-gradient"></div>
              <div class="profile-image-left"></div>
            </div>
            <div class="profile-description">
              <ul>
                <li class="creator-name">Lindsay Dages</li>
                <li><strong>Favorite Recipe:</strong> Thai Coconut Rice</li>
                <li><strong>When she isn't cooking or coding, she is:</strong><br />Listening to Sci-Fi audio books</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="small-5 column">
          <div class="profile-wrap">
            <div class="pulse1"></div>
            <div class="pulse2"></div>
            <div class="profile-overlay"></div>
            <div>
              <div class="profile-gradient"></div>
              <div class="profile-image-right"></div>
            </div>
            <div class="profile-description">
              <ul>
                <li class="creator-name">Haley Mnatzaganian</li>
                <li><strong>Favorite Recipe:</strong> Butternut Squash Chipotle Chili</li>
                <li><strong>When she isn't cooking or coding, she is:</strong><br />Hiking or reading</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="dark-strip bigger-margin same-height">
  <div class="row">
    <div class="small-10 small-offset-1 column">
      <h2 class="about-title center-text">Look Inside the Kitchen</h2>
      <p class="eighteen justify-text wide-lines">
        VegMe is the brain child of Haley and Lindsay's shared passions for
        plant-based meals and cooking up scrumptious web applications. Haley and
        Lindsay devoted the summer of 2017 to VegMe's creation
        while facing the unique challenges that come with working as part of a remote
        team living in different states. They can't wait to have "CSS and Coffee"
        days in the office someday.
      </p>
      <p class="eighteen justify-text wide-lines">
        Haley and Lindsay are committed to the sharing of ideas and knowledge
        through open source technology. You can learn more about VegMe and its inner
        workings by checking out out our <a href="https://github.com/space-jammers/vegme">
        GitHub repository</a>.
      </p>
    </div>
  </div>
</div>
<div class="bigger-margin same-height">
  <div class="row">
    <div class="small-10 small-offset-1 column">
      <h2 class="about-title center-text">Contact Us</h2>
      <div class="row align-center-middle contact-row">
        <div class="small-2 column">
          <h3>Lindsay</h3>
          <ul class="contact-links fa-ul">
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="https://www.linkedin.com/in/lindsaykdages/">LinkedIn</a>
            </li>
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="http://www.lindsaydages.com/">Portfolio</a>
            </li>
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="https://github.com/lnzd17">GitHub</a>
            </li>
          </ul>
        </div>
        <div class="small-2 column">
          <h3>Haley</h3>
          <ul class="contact-links fa-ul">
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="https://www.linkedin.com/in/haleymnatzaganian/">LinkedIn</a>
            </li>
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="http://haleymnatzaganian.getforge.io/">Portfolio</a>
            </li>
            <li>
              <i class="fa-li fa fa-caret-right" aria-hidden="true"></i><a href="https://github.com/haleymnatz">GitHub</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dark-strip bigger-margin same-height">
  <div class="row">
    <div class="small-6 small-offset-3 column text-center">
      <h2 class="about-title">Attributions</h2>
      <p class="eighteen justify-text wide-lines">
        The VegMe logo was a product of the creative expertise of Joshua Dages.
      </p>
    </div>
  </div>
</div>
