<!-- About VegMe -->
<!-- Bios and portfolio links -->
<!-- Link to github -->
<!-- atrributions to Josh and Edamam -->
<!-- Editor's choice recipes -->

<div class="row">
  <div class="small-10 small-offset-1 column">
    <p class="eighteen justify-text wide-lines about-vegme">
      This is where the text about our super awesome website will go. People
      will read this and never want to use another recipe search engine ever again!
    </p>
  </div>
</div>
<div class="row">
  <div class="small-10 small-offset-1 column text-center">
    <h2 class="about-title">The Creators</h2>
    <div class="row align-spaced">

      <div class="small-5 column">
        <div class="profile-wrap">
          <div class="pulse1"></div>
          <div class="pulse2"></div>
          <div class="profile-overlay"></div>
          <div>
            <div class="profile-gradient"></div>
            <div class="profile-image-left"></div>
          </div>
          <div class="profile-description">
            <ul>
              <li>Lindsay Dages</li>
              <li>Googling Guru</li>
              <li>Favorite Food:<br />Chocolate-covered pickles</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="small-5 column">
        <div class="profile-wrap">
          <div class="pulse1"></div>
          <div class="pulse2"></div>
          <div class="profile-overlay"></div>
          <div>
            <div class="profile-gradient"></div>
            <div class="profile-image-right"></div>
          </div>
          <div class="profile-description">
            <ul>
              <li>Haley Mnatzaganian</li>
              <li>CSS Warrior</li>
              <li>Favorite Food:<br />Veggie Pizza</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
