<div class="hero-section">
  <div class="hero"></div>
  <div class="row">
    <div class="small-12 columns big-column text-center" id="big-column">
      <div class="translucent-box">
        <h2 class="search-title">Find Recipes</h3>
        <div>
          <%= render 'queries/search_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-text">
  <div class="row">
    <div class="columns">
      <p>
      VegMe is a recipe search engine and meal planner for vegan and vegetarian
      recipes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
      odio erat,  ullamcorper vel lobortis eu, vehicula venenatis ligula.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <ul>
        <li>Etiam quis  elementum nulla.</li>
        <li>Nullam suscipit finibus felis quis porta.</li>
        <li>Phasellus ut  blandit lacus, ut venenatis eros.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="columns">
      <p>
    Sed mattis velit magna, nec feugiat  sem commodo eu. Praesent tempus blandit ipsum eu cursus. Ut non magna  non libero aliquam dapibus vel ac dui. Ut sit amet suscipit mauris.
      </p>
    </div>
  </div>
</div>
