<div class="hero-section">
  <div class="hero"></div>
  <div class="row">
    <div class="small-8 small-offset-2 column big-column text-center" id="big-column">
      <div class="translucent-box">
        <h1 class="search-title">Find Recipes</h1>
        <div>
          <%= render 'queries/search_form' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="landing-text">
  <div class="row">
    <div class="small-10 small-offset-1 column">
      <h2 class="text-center ">The herbivore's new best friend</h2>
      <p class="eighteen">
        VegMe is a vegan and vegetarian recipe search engine that goes beyond
        just finding something for dinner. We recognize that many generalized
        meal-planning tools do not meet the unique needs of vegan and vegetarian
        diets. VegMe encourages thoughtful and healthy meal-planning by providing
        features that make a plant-based diet more accessible than ever before.
      </p>
    </div>
  </div>
  <div class="row feature-boxes" data-equalizer>
    <div class="small-12 medium-3 column feature-box">
      <div class="feature" data-equalizer-watch>
        <div class="center-item">
          <span class="feature-icon">
            <i class="fa fa-cutlery fa-4x" id="icon-1"></i>
          </span>
          <h4>Recipe Library</h4>
        </div>
        <p>
          Search through thousands of recipes by diet type and calorie count to
          find some new favorites.
        </p>
      </div>
    </div>
    <div class="small-12 medium-3 column feature-box">
      <div class="feature" data-equalizer-watch>
        <div class="center-item">
          <span class="feature-icon" id="icon-2">
            <i class="fa fa-heart fa-4x"></i>
          </span>
          <h4>Customization</h4>
        </div>
        <p>
          Save your favorites and down-vote those recipes that just aren't for you.
        </p>
      </div>
    </div>
    <div class="small-12 medium-3 column feature-box">
      <div class="feature" data-equalizer-watch>
        <div class="center-item">
          <span class="feature-icon" id="icon-3">
            <i class="fa fa-pie-chart fa-4x"></i>
          </span>
          <h4>Nutrition</h4>
        </div>
        <p>
          See the macronutrient breakdown of your recipe in an
          easy-to-read graph.
        </p>
      </div>
    </div>
  </div>
