// Place all the styles related to the admin/feedbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.label-column {
  width: 15%;
}
.message-column {
  width: 35%;
}
.link-column {
  width: 20%;
}
.user-column {
  width: 10%;
}
.admin-column {
  width: 10%;
}
.complete-column {
  width: 10%;
}
