<div class="row">
  <div class="small-8 small-offset-2 column">
    <div class="callout large">

      <h2 class="user-heading description">Give us your feedback!</h2>

      <%= simple_form_for @user do |f| %>
        <%= f.input :username %>
        <%= f.input :password %>
        <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>
