<div class="form-container">
  <%= render 'search_form' %>
</div>
<% if @recipes %>
  <div class="row">
    <div class="small-12 medium-3 large-3 columns ">
      <div class="hidden-btn-container float-left">
        <button type="button"
                id='get-form'
                class='hidden-btn'>
                Find More Recipes
        </button>
      </div>
    </div>
    <div class="small-12 medium-9 medium-9 columns">
      <div class="pagination-container float-left">
      <%= will_paginate @recipes,
                        params: {anchor: 'cards'},
                        previous_label: '<',
                        next_label: '>' %>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="small-12 columns">
      <div name="cards" class='recipe-cards-container'>
        <%= render 'recipe_cards' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-center">
      <div class="pagination-container">
        <%= will_paginate @recipes,
                          params: {anchor: 'cards'},
                          previous_label: '<',
                          next_label: '>'%>
      </div>
      <br>
    </div>
  </div>
<% end %>
