<%= render 'search_form' %>
<% if @recipes %>
  <div class="row">
    <div class="small-12 columns text-center">
      <%= will_paginate @recipes,
                        previous_label: '<',
                        next_label: '>' %>
    </div>
  </div>
  <div class='row'>
    <div class="small-12 columns">
      <div class="recipe-cards-container">
        <%= render 'recipe_cards' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns text-center">
      <%= will_paginate @recipes,
                        previous_label: '<',
                        next_label: '>'%>
    </div>
  </div>

<% end %>
