#chart {
  width: 400px;
  height: 400px;
  margin: auto;
}

#caption {
  font-size: 10px;
  line-height: 5px;
  color: #8a8a8a;
  text-align: center;
}

  @media (max-width: 870px) {
    #chart {
      width: 275px;
      height: 275px;
      margin: auto;
    }

    #caption {
      font-size: 8px;
      line-height: 5px;
      color: #8a8a8a;
      text-align: center;
    }

}
