footer{
  background: #2CC3A1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .menu {
    height: 4.00rem;
    line-height: 4.00rem;
    width: 100%;
}

footer a {
  color: #fefefe;
}

footer a:hover{
  color: #fefefe;
}

footer li {
  border-radius: 2px;
}

footer li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}
