footer{
  background: #2CC3A1;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .menu {
    height: 4.00rem;
    line-height: 4.00rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .invisible {
  visibility: hidden;
  margin-right: auto;
}

 footer .feedback-link {
   margin-left: auto;
}

footer a {
  color: #fefefe;
}

footer a:hover{
  color: #fefefe;
}

footer li {
  border-radius: 2px;
}

footer li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}

@media only screen and (max-width: 730px) {

  li.mobile-hidden {
    display: none;
  }

  footer {
    height: 75px;
  }

}
