.actions, .field {
  margin-top: 30px;
  margin-bottom: 30px;
}

.description{
  color: #8a8a8a;
}

.vertical-margin {
  margin: 20px 0;
}

.form-container{
  display: none;
  margin-bottom: 50px;
}

[type='radio'] + label{
  color: #FFA274;
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: lowercase;
}

$primary-color: #2CC3A1;

input {
   &[type=radio] {
      opacity: 0;
      width: 1rem;
      margin-right: -30px;
      position: relative;

      &:checked + label:before {
         background: $primary-color;
      }

      & + label:before {
         display: inline-block;
         text-align: justify;
         line-height: 1rem;

         border: 0.0625rem solid $primary-color;
         width: 1rem;
         height: 1rem;
         margin-right: 0.5rem;

         font-size: 0.875rem;
         color: white;
         background: white;
      }
   }

   &[type=radio] {
      & + label:before {
         content: "\2713";
         border-radius: 50%;
         margin-left: 3px;
      }
   }
}

.input-group-button button{
  width: 1.7rem;
}

.input-group-button button:hover{
  font-size: 1.7rem;
}

input#max_cal.input-group-field{
  width: 75px;
}

.plus-minus-input .input-group-field {
  text-align: center;
}

div.input-group.plus-minus-input{
  width: 25px;
}

.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  margin: 0;
  padding: 0;
  border: none;
  color: #2CC3A1;
}

.radio-inputs{
  min-width: 300px;
}

.search-field{
  border: 1px rgba(44, 195, 161, 0.3) solid;
  border-radius: 3rem;
  margin-bottom: 40px;
}

.search-field:focus {
  border: 1px rgba(44, 195, 161, 1) solid;
  border-radius: 3rem;
  margin-bottom: 40px;
}

@-webkit-keyframes black_autofill {
  to {
    color: black;
    background: transparent;
  }
}

.search-field:-webkit-autofill, {
  -webkit-animation-name: black_autofill;
  -webkit-animation-fill-mode: both;
}

.text-input::placeholder{
  color: rgba(255,162,116, 0.5);
  padding-left: 1px;
}

.text-input, .text-input:focus {
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  padding-left: 10px;
  box-shadow: none;
  font-size: 1.7rem;
  color: #FFA274;
  font-weight: 800;
  // border-bottom: 2px solid #2CC3A1;
  height: 2.5rem;
  margin: 0;
  line-height: 2.5rem;
}

@-webkit-keyframes orange_autofill {
  to {
    color: #FFA274;
    background: transparent;
  }
}

.search-field .text-input:-webkit-autofill, {
    -webkit-animation-name: orange_autofill;
    -webkit-animation-fill-mode: both;
}

.user-heading {
  margin-bottom: 30px;
}
