body.sticky-shrinknav-wrapper {
  // padding-top: 3.75rem;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
  height: 3.75rem;
  background-color: rgba(44, 195, 161, 0.9);
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  transition: all 0.3s ease;
}

.sticky-shrinknav-header {
  width: 100%;
  height: 125px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  background-color: #2CC3A1;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  z-index: 10;
}

.sticky-shrinknav-header-title {
  transition: all 0.1s ease;
  text-align: center;
  position: fixed;
  left: 40%;
  // -webkit-transform: translateY(-0.875rem);
  //     -ms-transform: translateY(-0.875rem);
  //         transform: translateY(-0.875rem);
  // margin: auto;
  color: #fefefe;
  z-index: 20;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.sticky-shrinknav-header-title a {
  line-height: 100%;
}

// .sticky-shrinknav-header-title a:hover {
//   color: #FFA274;
// }

.sticky-shrinknav-header .sticky-shrinknav-menu a,
.sticky-shrinknav-header-title a {
  color: #fefefe;
}

.sticky-shrinknav-menu {
  // // position: absolute;
  // left: 70%;
  // -webkit-transform: translateX(-10%);
  //     -ms-transform: translateX(-10%);
  //         transform: translateX(-10%);
  // bottom: 0;
  height: 3.75rem;
  line-height: 3.75rem;
  width: 100%;
  // background-color: rgba(44, 195, 161, 0.1);
  transition: all 0.5s ease;
  z-index: 10;
}


.sticky-shrinknav-menu li {
  border-radius: 2px;
  transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
  box-shadow: 0 0 0 1px #fefefe;
}


svg.large-logo {
  // padding: 130px 0 35px 0;
  width: 200px;
  pointer-events: all;
  fill: #FEFDFA;
  stroke: #FEFDFA;
  visibility: visible;
  opacity: 1;
}


svg.small-logo {
  fill: #FEFDFA;

  width: 40px;
  // margin-left: 10px;
}

.small-logo-container{
  display: none;
  margin: 5px;
}


@media only screen and (max-width: 480px) {
  .sticky-shrinknav-header {
    height: 75px;
  }

  .sticky-shrinknav-menu {
    position:fixed;
    top:0;
    left:0;
    width:150px;
    height:100%;
    margin:0 0 0 -150px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
  }

  svg.large-logo {
    width: 120px;
  }

   header ul {
    width:250px;
    height:100%;
    padding:0;
    margin:0;
    list-style:none;
    background:#222;
    overflow:hidden;
  }
  .sticky-shrinknav-menu li {
      margin:0;
  }

  .sticky-shrinknav-menu a {
    color:#fff;
    font-size:1em;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    text-decoration:none;
    display:block;
    padding:12px 15px;
    font-weight:300;
    letter-spacing:2px;
    border-bottom:1px solid #333;
  }

  .sticky-shrinknav-menu a:hover{
    background:#111;
  }

  label {
    display:block;
    font-family:'helvetica neue', helvetica, arial, sans-serif;
    font-weight:700;
    width:30px;
    height:30px;
    line-height:42px;
    color:#fefefe;
    text-align:center;
    font-size:2em;
    line-height:1.1em;
    position:fixed;
    top:10px;
    left:10px;
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
    z-index:500;
  }
  input[type="checkbox"]{
      display:none;
  }
  input[type="checkbox"]:checked ~ nav{
      margin:0;
  }
  input[type="checkbox"]:checked ~ label{
      left:260px;
  }
  input[type="checkbox"]:checked ~ section{
      -webkit-transform:translate3d(160px, 0, 0);
      -moz-transform:translate3d(160px, 0, 0);
      -o-transform:translate3d(160px, 0, 0);
      transform:translate3d(160px, 0, 0);
  }

  label[for="nav-trigger"]:before {
    content: '\f0c9';
    font-family: FontAwesome;
  }

  .site-wrap {
    -moz-transition:all 200ms ease-in;
    -webkit-transition:all 200ms ease-in;
    -o-transition:all 200ms ease-in;
    transition:all 200ms ease-in;
  }

  body {
    overflow-x: hidden;
  }
}

@media only screen and (min-width: 480px) {
  i.mobile-nav-menu, #nav-trigger {
    display: none;
  }
}

@media (min-width: 1390px) {
  .sticky-shrinknav-header-title {
    left: 45%;
  }

}
