@import 'animate';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*
* === General ===
*/

*{
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

a{
  color: #8a8a8a;
}

a:hover, a:focus {
  color: #717171;
}

.site-wrapper{
  background-color: #FEFDFA;
}

body {
  background: #2CC3A1;
  padding-top: 125px;
}

.centered-margin {
  margin: auto;
}

.center-text {
  text-align: center;
}

.eighteen {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
}

.justify-text {
  text-align: justify;
}

.wide-lines {
  line-height: 30px;
}


/*
* === ToolTip Styling ===
*/

// .tooltip{
//   border: 2px solid #8a8a8a;
//   background-color: transparent;
//   text-decoration: none;
//   position: relative;
//   vertical-align: middle;
//   text-align: center;
//   display: inline-block;
//   border-radius: 3rem;
//   color: #8a8a8a;
//   transition: all ease 0.4s;
//   margin: 0px;
// }


.has-tip{
  border-bottom: none;
}
