#chart {
  width: 400px;
  height: 400px;
}

#caption {
  font-family: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif";
  font-color: #666
}

.pagination {
    font-size: 12px;
    display: inline-flex;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
}

.pagination a:hover {
    background: #202020 none repeat scroll 0 0;
    text-shadow: 1px 1px 1px #171717;
    color: white;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}

.recipe-cards-container{
  display: inline-flex;
}

.callout{
  margin: 10px;
}
.callout-hover-reveal .callout-footer {
  display: none;
}

ul.list-group{
  list-style: none;
  margin: 0;
  padding: 0px;
  max-width: 300px;
}

li.list-item{
  font-size: 12px;
  line-height: 12px;
  padding: 5px 0;
  margin: 10px 0;
  border-bottom: 1px #D3D3D3 solid;
}

.pointer{
  margin: 20px;
}

/*
* === Form Controls ===
*/



.plus-minus-input {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
div.input-group.plus-minus-input{
  width: 75px;
}
input#max_cal.input-group-field{
  width:75px;
}
.plus-minus-input .input-group-field::-webkit-inner-spin-button,
.plus-minus-input .input-group-field ::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}

.plus-minus-input .input-group-button .circle {
  border-radius: 50%;
  padding: 0.25em 0.8em;
  margin: 0px 10px;
}
