.pagination {
    font-size: 12px;
    display: inline-flex;
    margin: 0 0 0 80px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.3em 0.4em;
    border-radius: 3rem;
}

.pagination a:hover {
    color: black;
    border-radius: 3rem;
}

.pagination a:active {
    text-shadow: none;
}

.pagination .current {
    background: gray none repeat scroll 0 0;
    color: white;
}

.pagination .disabled {
    color: #C0C0C0;
}

@media (max-width: 730px) {
  .pagination-container {
    max-width: 325px;
  }

  .pagination {
    margin: 25px 0 25px 0;
  }

  .pagination a, .pagination button {
    display: block;
    margin: 2px 9px;
    padding: 0;
    border-radius: 0;
    color: #0a0a0a;
}


}
