// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@font-face {
  font-family:'bebas_neue_regularregular';
  src:font-url('bebasneue_regular-webfont.woff') format('woff')
}

.logo-div {
  width: 25%;
  margin: auto;
}

.about-title {
  margin-bottom: 80px;
  color: #575454;
  font-family: 'bebas_neue_regularregular', sans-serif;
}

.contact-links li {
  font-size: 18px;
}

.contact-row {
  display: flex;
  justify-content: space-around;
}

.contact-row > div {
  padding-right: 0;
}

.creator-name {
  text-transform: uppercase;
  font-size: 22px;
}

.dark-strip {
  background-color: #f0efe9;
}

.bigger-margin {
  padding: 50px;
}

.same-height {
  height: 480px;
}

.profile-wrap {
    position: relative;
    margin: 0 auto;
    top: 0; bottom: 0; left: 0; right: 0;
    text-align: center;
    height: 460px;
    z-index: 5;
}
.profile-overlay {
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 5;
    border-radius: 50%;
    display: block;
    width: 280px;
    height: 280px;
}

.profile-image-left {
  background: image_url('lindsay.jpg') 0 -30px no-repeat;
}

.profile-image-right {
  background: image_url('haley.jpg') 0 -30px no-repeat;
}

.profile-image-left, .profile-image-right {
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 0;
    display: block;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background-size: 100%;
    overflow: hidden;
    /* circular image border */
    -webkit-box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
       -moz-box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
            box-shadow: 0 9px 30px 3px rgba(0,0,0,.46);
    transition: all ease 0.3s;

      &:before {
        position: absolute;
        content: '';
        background-position: 0 -29px;;
        margin-top: -15px;
        height: 480px;
        width: 320px;
        top: 0;
        left: 50%;
        transform: translate(-50%);
        background-image: linear-gradient(to top, #ffe, #fff);
        transition: opacity 0.5s ease-out;
        opacity: 0;
      }
}

.profile-description {
  display: flex;
  justify-content: center;
}

.profile-wrap:hover .profile-image-left,
.profile-wrap:hover .profile-image-right {
    background-position: 0 -29px;
    border-radius: 0;
    margin-top: -15px;
    height: 460px;
    width: 320px;
    z-index: 1;
}

.profile-description ul {
    opacity: 0;
}

.profile-wrap:hover .profile-description ul {
  opacity: 1;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  width: 325px;
  padding: 0 15px;
  color: #212121;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
  display: block;
  // margin: 0 auto;
  // margin-top: 275px;
  top: 275px;
  right: 10px;
  list-style-type: none;
  z-index: 5;
  transition: all ease 0.3s;
}

.profile-wrap:hover .profile-image-left:before,
.profile-wrap:hover .profile-image-right:before {
  opacity: 0.5;
}

.profile-wrap:hover .pulse1{
    border: 2px solid rgba(255, 255, 255, 0);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, 0);
}
.profile-wrap:hover .pulse2{
    border: 10px solid rgba(0, 0, 0, 0);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, 0);
}

.pulse1 {
    position: absolute;
    height: 270px;
    opacity: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    box-sizing: border-box;
    transition: all ease 0.8s;
}

.pulse2 {
    position: absolute;
    height: 260px;
    z-index: 2;
    opacity: 0;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    box-sizing: border-box;
    transition: all ease 0.8s;
}

@media only screen and (max-width: 730px) {
  .profile-wrap:hover .profile-description ul {
    opacity: 1;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    width: 300px;
    padding: 0 15px;
    color: #212121;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8);
    display: block;
    // margin: 0 auto;
    // margin-top: 275px;
    top: 225px;
    right: 0;
    list-style-type: none;
    z-index: 5;
    transition: all ease 0.3s;
  }

  h2.about-title {
    font-size: 1.8rem;
  }

  .same-height {
    height: auto;
  }

  .display-style {
    display: inline-block;
  }

  .about-title {
    margin-bottom: 40px;
  }
}
